<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="myApp">
<head>
    <link  href="../../assets/img/iconTitle.png" type="image/x-icon" rel="shortcut icon">
    <title>Astrofreakazoid</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../services/conn.js"></script>
     <!-- script grafico -->
    <script src="../../assets/js/jquery-1.11.1.min.js"></script>
    <!-- AngularJS -->
    <script src="../../assets/js/angular.min.js"></script>
    <script src="../../assets/js/raphael.min.js"></script>
    <script src="../../assets/js/morris.min.js"></script>
    <script src="../../assets/js/firebase.js"></script>
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="../../assets/css/animate.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/media-queries.css">
    <link rel="stylesheet" href="../../assets/css/stats.css">
    <link rel="stylesheet" href="../../assets/css/encuesta.css">
    
     <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="../../assets/angular/encuestaController.js"></script>
    <script src="../../assets/js/modernizr-2.6.2.min.js"></script>
</head>
<body id="body" ng-controller="encuestaCtrl" onbeforeunload="return myFunction()">
    <div id="preloader">
        <img src="../../assets/img/preloader.png" alt="Preloader">
    </div>

    <header id="navigation" class="navbar-fixed-top navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#body">
                    <h1 id="logo">
                        <img src="../../assets/img/logo.png" alt="Brandi">
                    </h1>
                </a>
            </div>
            
        </div>
    </header>

    <br><br><br><br>

    <div class="container">
        <div class="row text-center">
            <h1>ENCUESTA</h1>
            <hr width="50%"><br>
        </div>
    </div>

    <div ng-repeat="(idTopic,topic) in objectTopic" ng-if="topic.visible">
        <div id="myCarousel" class="carousel slide" style="opacity: 0.8;">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" >
                <div  class="item bg-primary active">
                    <div class="carousel-caption" style="position: absolute;">
                        <h3>{{topic.name}}</h3>
                        <h4>{{comment}}</h4>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="item bg-primary" ng-repeat="(idQuestion,question) in topic.questions">
                    <div >
                                             
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <h3>{{question.name}}</h3>
                                    <p style="padding: 15px;">{{question.help}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <div class="funkyradio">
                                        <div class="funkyradio-info " ng-repeat="(idAnswer,answer) in question.answers">
                                            <input type="radio" name="radio" id="{{idAnswer+answer.name+question.name}}" ng-click="incrementarPorcentage(idTopic,idQuestion,idAnswer)"/>
                                            <label for="{{idAnswer+answer.name+question.name}}">{{answer.name}} </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row text-center">
                                <br>
                                <hr>
                               
                                <div class="col-sm-6 col-xs-6">
                                    <a data-toggle="modal" data-target="#helpId"><i class="fa fa-slideshare btn-lg"></i></a>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
                 <div class="item bg-primary ">
                    <div class="carousel-caption" style="position: absolute;">
                        <h3>GRACIAS POR SU PARTICIPACIÓN</h3>
                        <h4>CONGRESO NACIONAL DE GERIATRIA 2017</h4>
                         <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 20px;">
                            <button type="button" class="btn btn-primary btn-lg" ng-click="direccionarFinEncuesta()">Get out</button>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>


    <!-- Inicio del perfil si modal -->
    <div class="modal fade" id="helpId" tabindex="-1" role="dialog" aria-labelledby="helpLabelId" aria-hidden="true"  style="margin-top: 40px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="helpLabelId">AYUDA</h4>
                </div>
                <div class="modal-body text-center">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores debitis dicta dolore doloremque dolores doloribus ex expedita facere impedit laudantium maiores nesciunt, perspiciatis reiciendis reprehenderit similique voluptatem voluptatibus.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Continuar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Inicio del perfil si modal -->

    <!-- Modal aparece al celeccionar una respuesta, en este modal se podra enviar comentarios-->
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content row">
                    <div class="col-md-12 col-sm-12 col-lg-12 modal-header" style="padding: 30px;">
                         <h4 class="modal-title">Si lo deseas puedes hacre un comentario.</h4>
                    </div>
                    <div class="modal-body">
                        <form class="col-md-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label for="comment">Comentario:</label>
                                <textarea class="form-control" rows="5" id="comment" style="resize:none;"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default col-md-4 col-sm-4 col-lg-4" ng-click="enviarComment()" >Enviar comentario</button>
                        <button type="button" class="btn btn-default col-md-6 col-sm-6 col-lg-6" ng-click="ocultarModals()"  data-toggle="modal" data-target="#modalGracias">No Gracias</button>
                    </div>
                   
                </div>
            
            </div>
        </div>
     </div>
     <div class="container">
        <!-- Modal -->
        <div class="modal fade  row" id="modalGracias" role="dialog">
            <div class="modal-dialog"  style="margin-top: 100px;">
            <!-- Modal content-->
                <div class="modal-content " style="text-align: center;">
                   <div class="modal-body">
                        <form>
                            <div class="form-group " style="margin-top: 100px;">
                                <h2 >Thanks for participating</h2>
                                <div class="text parpadea">
                                   <i class="fa fa-thumbs-up" style="margin-top: 40px; font-size: 150px; display: block;"></i>
                                </div>
                             </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
     </div>
    <div hidden id="bar-example" style="height: 400px;"></div>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="footer-single">
                        <img src="../../assets/img/preloader.png" alt="">
                        <br><br><br>
                        <p><b>Gracias por nuestra pagina</b></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="footer-single">

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="footer-single">
                        <br>
                        <h6>Mas informacion!</h6>
                        <form action="#" class="subscribe">
                            <input title="alguien@ejemplo.com" placeholder="alguien@ejemplo.com" type="text" name="subscribe" id="subscribe">
                            <input type="submit" value="&#8594;" id="subs">
                        </form>
                        <p>Ingresa tu correo electronico para recibir mas informacion de nuestros servicios!</p>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright text-center">
                        Desarrollado por <a href="">Marvin Calvo Acuña y Jose Alejandro Gomez Castro</a>
                        <br>
                        Copyright © 2017 <a href="">Astrofreakazoid</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../assets/js/jquery.singlePageNav.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/jquery.fancybox.pack.js"></script>
    <script src="../../assets/js/jquery.mixitup.min.js"></script>
    <script src="../../assets/js/jquery.parallax-1.1.3.js"></script>
    <script src="../../assets/js/jquery-countTo.js"></script>
    <script src="../../assets/js/jquery.appear.js"></script>
    <script src="../../assets/js/jquery.easing.min.js"></script>
    <script src="../../assets/js/wow.min.js"></script>
    <script>
        var wow = new WOW ({
                boxClass:     'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset:       120,          // distance to the element when triggering the animation (default is 0)
                mobile:       false,       // trigger animations on mobile devices (default is true)
                live:         true        // act on asynchronously loaded content (default is true)
            }
        );
        wow.init();
    </script>
    <!-- Custom Functions -->
    <script src="../../assets/js/custom.js"></script>
    <script src="../../assets/js/stats.js"></script>
</body>
</html>
