<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="myApp">
<head>
    <title>CCSS: ENCUESTACR</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- script grafico -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

    <script src="../../assets/js/jquery-1.11.1.min.js"></script>
    <script src="../../assets/js/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="../../assets/angular/encuestaController.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="../../assets/css/animate.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/media-queries.css">
    <link rel="stylesheet" href="../../assets/css/stats.css">
    <script src="../../assets/js/modernizr-2.6.2.min.js"></script>
</head>
<body id="body" ng-controller="encuestaCtrl">
<div id="preloader" style="bottom: 0;">
    <img src="../../assets/img/preloader.gif" alt="Preloader">
</div>



<!-- //.bar chart -->
<div class="container">
    <div  class="row" >
        <div class="container bg-success" style="margin-top: -100px;">
            <div  class="col-md-12 col-sm-12 col-lg-12">
                <div class="">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <br><br><br><br><br>
                            
                            <div class=" row bg-success" style" width:100%; padding: 20px;height: 200px; ">
                                <!-- inicio carusel -->
                                    <div class="col-md-12 col-sm-12 col-lg-12" ng-repeat="(idTopic,topic) in objectManegerTopic" ng-if="topic.visible" style="font-size: 17px;text-align: left; height: 30%;" >
                                        <div id="myCarousel" class="carousel slide"  style="opacity: 0.8;height: 30%; padding: 20px;">
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox" >
                                                <!-- Item del carusel con active -->
                                                <div  class="item bg-primary active" style="height: 170px;">
                                                    <div class="container" style="bottom: 100px; text-align: center;">
                                                        <h3>{{topic.name}}</h3>
                                                        <h4>{{comment}}</h4>
                                                    </div>
                                                </div>
                                                 <!-- Item del carusel sin active -->
                                                <div class="item  bg-primary" ng-repeat="(idQuestion,question) in topic.questions" ng-init='setIndexItem(idTopic)' ng-else-if="$index!=0"  style="height: 170px;" id="paraimprimir1">
                                                    <div >

                                                        <div class="container" style=" padding: 20px;">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <h4 style="margin-bottom: 30px;">{{question.name}}</h4>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div class="funkyradio">
                                                                        <div class="funkyradio-info " ng-repeat="(idAnswer,answer) in question.answers">
                                                                            <label for="{{idAnswer+answer.name+question.name}}">{{($index+1)+"-"+answer.name}} </label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                 <div class="item bg-primary "  style="height: 170px;">
                                                    <div  style="text-align: center;">
                                                        <h3>Gracias por su participación</h3>
                                                        <h4>Congreso Geriatrico 2017</h4>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- Left and right controls -->
                                            
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h3>ESTADISTICAS GLOBALES</h3>
                        <div class="col-md-12 col-sm-12 col-lg-12"style="height:500px;" id="paraimprimir2">
                            <div id="bar-example" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default col-md-3 col-sm-12 col-lg-3" style="bottom: 100px; height: 40px;" data-toggle="modal" data-target="#modalSelectTema">Seleccionar Tema</button>
            <button type="button" class="btn btn-default col-md-3 col-sm-12 col-lg-3" style="bottom: 100px; height: 40px;" data-toggle="modal" data-target="#modalComment">Ver comentarios</button>
            <button type="button" class="btn btn-default col-md-3 col-sm-12 col-lg-3" style="bottom: 100px; height: 40px;"  ng-click="imprimir()">Imprimir Ventana</button>
            <button type="button" class="btn btn-default col-md-3 col-sm-12 col-lg-3" style="bottom: 100px; height: 40px;" ng-click="siguienteSlide()">Siguiente pregunta</button>
        </div>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="modalComment" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content row"  style="height: 300px;">
                    <div class="col-md-12 col-sm-12 col-lg-12 modal-header" style="padding: 30px;">
                         <h4 class="modal-title">Comentarios del publico</h4>
                    </div>
                    <div class="modal-body">
                        <form class="col-md-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <div style="border: 1px; border-style: dashed; height: 130px; font-size: 19px; padding: 10px; border-radius:6px;" >
                                    <textarea class="form-control" rows="5" id="comment" style="resize:none;" ng-init ="inicializarComentario()" ng-model="todosComentarios"></textarea>
                               </div>
                            </div>
                        </form>
                        <div class="modal-footer"  >
                            <button type="button" class="btn btn-default col-md-4 col-sm-4 col-lg-4"  data-dismiss="modal">Salir</button>
                       </div>
                    </div>
                </div>
            
            </div>
        </div>
     </div>
      <div class="container" style=" height: 100%;">
        <!-- Modal -->
        <div class="modal fade" id="modalSelectTema" role="dialog" >
            <div class="modal-dialog" style="height: 80%; width: 80%;">
            
                <!-- Modal content-->
                <div class="modal-content row"  style="height: 100%;">
                    <div class="col-md-12 col-sm-12 col-lg-12 modal-header" style="padding: 30px;">
                         <h4 class="modal-title">Seleccione el Tema</h4>
                    </div>
                    <div class="modal-body col-md-12 col-sm-12 col-lg-12">
                        <form >
                            <div class="form-group">
                                <div ng-repeat="(idTopic,topic) in objectManegerTopic">
                                    <button type="button" class="btn btn-default col-md-12 col-sm-12 col-lg-12" style="width: 100%; margin-bottom: 10px;"  ng-click="seleccionarTema(idTopic)">{{topic.name}}</button>
                               </div>
                            </div>
                        </form>
                        <div class="modal-footer"  >
                            <button type="button" class="btn btn-default col-md-4 col-sm-4 col-lg-4"  data-dismiss="modal">Salir</button>
                       </div>
                    </div>
                </div>
            
            </div>
        </div>
     </div>


</div>

<!-- bar chart -->



<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

<script src="../../assets/js/jquery.singlePageNav.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/jquery.fancybox.pack.js"></script>
<script src="../../assets/js/jquery.mixitup.min.js"></script>
<script src="../../assets/js/jquery.parallax-1.1.3.js"></script>
<script src="../../assets/js/jquery-countTo.js"></script>
<script src="../../assets/js/jquery.appear.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="../../assets/js/jquery.easing.min.js"></script>
<script src="../../assets/js/wow.min.js"></script>
<!-- Custom Functions -->
<script src="../../assets/js/custom.js"></script>
<script src="../../assets/js/stats.js"></script>
</body>
</html>

