<footer id="footer" class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="footer-single">
                        <img src="../../assets/img/footer-logo.png" alt="">
                        <br><br>
                        <p>Frase: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloribus enim est hic illum ipsam perferendis, soluta. Accusamus aliquam amet distinctio eius ex necessitatibus nihil placeat quam, unde voluptatem? Voluptate.</p>
                        <br>
                        <p><b>Gracias por nuestra pagina</b></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="footer-single">

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="footer-single">
                        <br>
                        <h6>More information!</h6>
                        <form action="#" class="subscribe">
                            <input title="alguien@ejemplo.com" placeholder="alguien@ejemplo.com" type="text" name="subscribe" id="subscribe">
                            <input type="submit" value="&#8594;" id="subs">
                        </form>
                        <p>Enter your email to receive more information about our services!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright text-center">
                        Developed by <a href="">Marvin Calvo Acuña and Jose Alejandro Gomez Castro</a>
                        <br>
                        Copyright © 2017 <a href="">Astrofreakazoid</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>